{% load url from future %}

<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/semantic-blog.js"></script>

    <link rel="stylesheet" type="text/css" href='/static/css/bootstrap.min.css'/>
    <link rel="stylesheet" type="text/css" href='/static/css/bootstrap-responsive.min.css'/>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'/>
</head>
<body>
<div class="container">
    <form method="post" action="{% url 'semantic_blog.views.find_content' %}" class="form-inline">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{% url 'semantic_blog.views.index' %}">Semantic blog</a>
            <ul class="nav">
                <li><a href="{% url 'semantic_blog.views.index' %}" title="Articles">Articles</a></li>
                <li><a href="{% url 'semantic_blog.views.tag_list' %}" title="Tags">Tags</a></li>
                <li>
                    {% csrf_token %}
                    <input type="search" name="lookup" id="lookup" placeholder="Search" autocomplete="off" style="margin-top: 5px;">
                </li>

            </ul>
            <div class="navbar-text pull-right">{{ user.userprofile.get_display_name }}</div>
        </div>
    </div>
    </form>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>