{% extends 'base.html' %}
{% load url from future %}

{% block title %}
    Search results
{% endblock %}

{% block content %}
    <h3>Search results</h3>

    <div class="block">
        <div>Articles:</div>
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="block">
        <div>Tags:</div>
        <ul>
            {% for tag in tags %}
                <li><a href="{{ tag.get_absolute_url }}">{{ tag.value }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}