{% extends 'base.html' %}
{% load url from future %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <p>
        <a href="{% url 'semantic_blog.views.create_article' %}" class="btn btn-primary">
            Write an article
        </a>
    </p>

    <p>
        <legend>Articles</legend>

        <ul>
            {% for article in articles %}
                <li>
                    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </p>

    <p>
        <legend>Tags:</legend>

        {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.value }}</span></a>
        {% endfor %}
    </p>
{% endblock %}