{% extends 'base.html' %}
{% load url from future %}

{% block title %}
    {{ article.title }} by {{ author.get_display_name }}
{% endblock %}

{% block content %}
    <legend>{{ article.title }}</legend>

    <p>{{ article.content }}</p>

    <p>
        <legend>Enhancements:</legend>
        {% for enhancement in enhancements %}
            {% if enhancement.comment %}
                <a href="#" class="tooltiped" data-toggle="tooltip" title="{{ enhancement.comment }}">
                    <span class="label label-info">{{ enhancement.value }}</span>
                </a>
            {% else %}
                <a href="#">
                    <span class="label">{{ enhancement.value }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </p>

    <p>
        <legend>Tags:</legend>

        {% for tag in tags %}
            <a href="{{ tag.get_absolute_url }}"><span class="label label-info">{{ tag.value }}</span></a>
        {% endfor %}
    </p>
{% endblock %}