{% extends 'base.html' %}
{% load url from future %}

{% block title %}
    {{ article.title }} by {{ author.get_display_name }}
{% endblock %}

{% block content %}
    <h3>{{ article.title }} by {{ author.get_display_name }}</h3>

    <div id="article-content" class="block">
        {{ article.content }}
    </div>

    <div id="enhancements" class="block">
        <div>Enhancements:</div>

        <ul>
            {% for enhancement in enhancements %}
                <li>
                    <b><div><a href="#">{{ enhancement.value }}</a></div></b>
                    {% if enhancement.comment %}
                        <div>Comment: {{ enhancement.comment }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="tags" class="block">
        <div>Tags:</div>

        <ul>
            {% for tag in tags %}
                <li>
                    <span>{{ tag.value }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}